:root {
    --primary:#1d1d1d;
    --secondary:#D32F2F;
    --hover:#AD2727;
    --secondary-text:#898989;
    --primary-text:#cfcfcf;
    --disabled-text:#545454;
    --background:#131313;
    --newitem:#191919;
    --white-text:#fff;
    --border:rgba(255,255,255,0.12);
    --box-shadow:0 0 0 1px rgba(0,0,0,.1),0 1px 10px rgba(0,0,0,.35)
    }
/* General */
    * {
    box-shadow:unset!important;
    text-shadow:unset!important
    }
    
    :focus {
    outline:var(--secondary)!important
    }
    
    ._51mx>._51m->a:hover,._3l4b a._4m1x:hover,._4bl9 .uiList ._42ef a:hover,._2pit._2pic._4bl9 a:hover,._1d6i>a:hover,._-sl a:hover {
    text-decoration:none!important
    }
    
    a {
    color:var(--secondary)!important
    }
    
    body,._5vb_,._5vb_ #contentCol {
    background-color:var(--background)!important;
    color:var(--primary-text)!important
    }
    /* Logo */
    ._2md {
    background-image:url(https://i.imgur.com/rkJAImL.png)!important;
    background-size:contain!important;
    background-position:0!important;
    width:46px!important
    }
    /* Header */
    ._2s1x ._2s25:focus,._19eb:hover,._19eb:focus,._19eb:active {
    background-color:transparent!important
    }
    
    ._2s1x ._2s1y {
    background-color:var(--hover)!important;
    border-color:var(--hover)!important
    }
    
    ._3z_5 {
    background-color:var(--newitem)!important;
    border-radius:100%!important;
    padding:2px!important
    }
    
    ._1vp5,#j2team_fb_timer,.segoe ._4jy0,._2yav,._2yap ._2yav,._4jy1,._5wd4 ._5w1r,._5yl5 a,._25_a:hover,._25_c,._4e-7 ._45hc:hover ._684i,._4e-7 ._1hqh ._684i,._684i,._c24 {
    color:var(--white-text)!important
    }
    
    ._2t-a._50tj ._cy6:first-child ._4kny:hover {
    border-bottom:2px solid var(--primary-text)!important
    }
    
    ._51lp {
    text-align:center!important;
    min-width:13px!important
    }
    
    ._5tlx._5xzd {
    max-width:240px!important;
    top:9px!important
    }
    /* Background */
    ._5iwm ._58al,._1sdi,._585- ._4w98,._585- ._4w98._4w97,._2n5-,._2lhm ._6m2._6m2,textarea,.uiSearchInput,.uiSearchInput button,._2ph_._3-96 .uiSearchInput button:hover,._1eds,._5ay5 ._1fa6 ._3fbq,.bottomBarActions a.fbPhotoSnowliftDropdownButton, .bottomBarActions a.fbPhotoSnowliftDropdownButton:active, .bottomBarActions a.fbPhotoSnowliftDropdownButton:focus, .bottomBarActions a.fbPhotoSnowliftDropdownButton:hover,._3-a6._1blz ._2bsy .UFICommentActorAndBody._3re2, ._3-a6 .UFICommentActorAndBody._3re2, ._3-a6._1blz .UFICommentActorAndBody._3re2, ._3-a6.UFIContainer .UFIPrivateCommentDarkTheme.UFIComment.UFIRow .UFICommentActorAndBody._3re2, ._6q1a ._3-a6._1blz .UFICommentActorAndBody._3re2 {
    background-color:transparent!important
    }
    
    .uiTypeahead,input,._5hpq,.inputtext,.fbNubButton {
    background:transparent!important
    }
    
    html ._4lh,._4lh .fbTimelineTimePeriod,._4lh .fbTimelineSectionExpandPager .uiMorePagerLoader,._4lh .fbTimelineSectionLoading .loadingIndicator,._57d8,._55fl,._1tm3 ._4-h7:hover,._1tm3 ._2mo4:hover,.uiBoxLightblue,._4-u5,._6m2,._1pek,._sg1,._3ubp,._5r8h:hover,.__tw,.fbNub._50mz .fbNubFlyoutFooter:before,._2crf,.fbNub._50mz .fbNubFlyoutFooter,.fbNubFlyoutHeader,.fbNubFlyoutBody,div._5a8u,._1k1p,.fbNubFlyoutFooter,._6ff7,._1nme._4vhy,._fmi,.fbChatTypeahead ._4p-s,._2znk,.fbNubFlyoutAttachments,._fyy,._202._19bq:hover,._m_1,._2gk1,._4-i0,.uiBoxGray,._4t2a,._5pr2.fbChatSidebar,._3_gi .uiSearchInput::after,._3_gi .uiTypeahead::after,._4gd0,._1i6a,._3_gi ._58ak::after,._69ad ._fmi,._4h7j,._33c,.fbReminders .fbRemindersStory:hover,._6444,._6853,._441n,._52g0,.fbTimelineSection,._517h,._4o-g:hover,._3sod:hover,.fbCalendarGridRoot #fbCalendarWrapper,.fbCalendarGrid .fbCalendarDayItem:hover,.fbCalendarGrid .fbCalendarGridToday .fbCalendarDayItem:hover,._6ajm,._6864,._3-a6._1blz ._pb2 ._2r3x ._3ekx,._2pgc,._3604,._3605,._4xqv,._5y02:focus,._5y02:hover,._5f_8:focus,._5f_8:hover,html .fbProfileEditExperiences ._53d9,._24k,._64f,._64f a,._4shn,._6zzz,.UFIReplyList .UFIRow,._4sp8,._4poa ._4po6,._6wq,._42me,.pop_content .dialog_buttons,._3mds,._5vf h3.uiHeaderTitle,._5vf .uiHeaderActions,._40pv,._4lh ._2-d1,._1ked,._6idi,._iyn,._5y1j ._5xdw:hover,._5hgn,._1qqr,._5-lm,.hasLeftCol #pageFooter,._k7g,._4e-7 ._1hqh,._2_ku,._680n,._5hto,._2qe3,.__tw li.jewelItemResponded {
    background-color:var(--background)!important
    }
    
    .uiBoxWhite,._558b ._54ng,#contentArea ._4ikz,div._4-i2,#leftCol>._4wol>._lwx,#pagelet_navigation,._5tlx._5xzd,._53ij,._2s1x ._2s25:active,._4oes,._70b,._3sod,.__tw div.jewelHeader,.__tw .jewelFooter a,._6ff7:hover,._50c9,._3zsi,._3-a6._65_9._5vsj .UFIRow,._3-a6._65_9._5vsj.UFIContainer .UFIReplyList .UFIRow,._3-a6._65_9._5vsj._5vsj._5vsj,._6q1a ._3-a6._65_9._5vsj .UFIRow,._6q1a ._3-a6._65_9._5vsj.UFIContainer .UFIReplyList .UFIRow,._6q1a ._3-a6._65_9._5vsj._5vsj._5vsj,._2pi2._6ff6,._5vb_ ._5pr2.fbChatSidebar,._3-a6 ._10la ._10lo,._1og-,._4ar- ._3emk,._4d3w._u77 ._3t09,._3soj,._6hia._6n_0,._3sol,html ._55r1,.uiMorePager .uiMorePagerPrimary:hover,._2s60 ._357t,._364n,._585r,._grm,._3y6_,._1g5v+._4arz,._ipo,._1cx1 ._559p,._6_lt:hover,._4zoz._4zoz._4zoz,._1pek ._1sex:hover,._4-u8,._6hia ._6n_0,._41nt,._3io8,._4d3w._u77 .fbPhotosSnowboxFeedbackInput ._2r5f .UFIRow,._437j,._1rh0 ._1rg_ .UFIRow,._4ly9,._23aq,._23at,._611j,._6qqv,._3ad-,._1vkw,._6vhx,._13av,._271k,._hij,._6-d #fbTimelineHeadline,._569t ._54ng,._5ge1,._4qgh,.uiContextualLayerBelowLeft ._z4i,._6hq6,._dut,.uiHeaderSection,.uiSideHeader,.fbCalendarGridRoot .fbCalendarBox,.fbCalendarGrid .fbCalendarGridRow,.fbCalendarGrid .fbCalendarGridCellEmpty .fbCalendarDayItem:hover,.uiOverlayContent,.fbCalendarOverlay .fbCalendarOverlayContent,._6853 ._1rh0,._4ly8,._6859,._3-a6._1blz ._pb2 ._2r3x ._3ekx,._u_3,._50hx,._50hx:hover,._5esl td._5esw,._599r,._4mq3 .fbNubButton,._59_m,._5esx ._58ak,._62lk,.uiContextualLayerAboveLeft ._z4i,._2786,._65ue,._2w3>._30f,._3j5h .uiTypeahead input,._6rbc,._440e,._440e ._15wh._riu,._19_p,._3t3,._221x,._3cz,html .uiTypeahead .uiSearchInput,._30d,._5i-7,._kj3,._z6j,.escapeHatchMinimal,._70l,._609_,._609-,._609t,._6z-1,._2dvt,._bz4,._1iup,._4u5t,._1_u4,._219f,.uiMediaThumb,.uiMediaThumb i,form.async_saving .uiButton,.uiButtonDisabled,.uiButtonDisabled:active,.uiButtonDisabled:focus,.uiButtonDisabled:hover,.UFIRow,.UFIReplyList,._4eby,html ._3mdt,._7r2,.__5y ._4p89,.PlacesTypeaheadViewPopulated,.uiTypeaheadView ul,._5nlo,._2xh4,._3l9n,._3l9s .uiTypeahead,._2she,._1nv3 ._11kf,._t,._6wq:hover,._5pw9,.uiMenu,select,._4d3w._u77 .fbPhotosSnowboxFeedbackInput,.pop_content .dialog_content,._5z0p,#FriendRequestMorePager ._5cz,._2o49,.uiSideNav .item:hover,.uiSideNav .item:active,.uiSideNav .item:focus,.uiSideNav .subitem:hover,.uiSideNav .subitem:active,.uiSideNav .subitem:focus,.uiSideNav .highlighted .item:hover,.uiSideNav ul .highlighted .subitem:hover,._7lt ._7lw,._1xnd ._4-u3 ._1td9 ._1td7 ._2kch,._1pek ._3-w6,._4z-w:hover,.fbPhotoTagger .faceboxSuggestion,.fbPhotoTagger .typeaheadBackdrop,.fbPhotoTagger .uiTypeaheadView,._4lmi,._39k2,._39k5,#u_fetchstream_1_1j[style="background-color: white;"],._6mki,._juy,._53ij ._4ii7,._53ij ._4iic,._6idi ._6jio,._3xcw,._6idd,._6j3i>._29xb>div,._4k8w,._9h3,._2evr,._2y_2 .UFIGifEnabledInput,._2y_2 .UFIReplyActorPhotoWrapper,._2y_2 .UFIImageBlockContent,._33v2,._4vb8,._2v5c,._58do,._46cs,._5fez,._1upa,._2dmn,._200d,._4sol ._5dwa,._1v6t ._1mie ._m3c:hover,._1v6t ._1mie ._4lo:hover,._1v6t ._1mie ._m3c ._4h2m:hover,._64lx ._3z2,._21x_ ._2it3,._pu-,#contentCol,._529l ._un8,._4n30,._2_ks,._1l1t,._21-d._30vn,._674v {
    background-color:var(--primary)!important
    }
    
    ._5ugf,._5r8a._5r8b,._3m75 .selectedItem ._55yu>a,._558b ._54nd._54ne ._54nc,._558b ._54ne ._54nc,._9jo ._54ne .uiLinkButton input,._9jo ._54ne a.navSubmenu,._9jo li.navSubmenu._54ne a,._9jo li._54ne,.navHeader ._1pej::after,._55ln:focus,._3m75 .selectedItem ._55yu>a,._3m75 .sideNavItem:hover ._55yu>a,._3m75 .selectedItem .uiSideNavEditButton a,._3m75 .sideNavItem:hover .uiSideNavEditButton a,._alf:hover,._alf:focus,.navHeader ._1pej::after,._3m75 .sideNavItem ._5afe::after,._m_1:hover,._5vsj .UFIRow.UFIUnseenItem:after,._55ln:hover,li.selected ._55ln,._5yk1 ._247o,._3m75 ._55yu>a,._3m75 .sideNavItem .uiSideNavEditButton a,._3m75 .sideNavItem ._5afe::after,._4jy1,._2n60,._585n,._6lxd:hover,._3bii[style="background-color: rgb(66, 103, 178);"],._23b1,._23b2,._3ohu:hover,._2zx6,._271k._3-99,._599n,._1xx7._1xx6,._1xx7:hover,._7yu>li[style="background-color: rgb(236, 243, 255);"],._7yu>li[style="background-color: rgb(218, 221, 225);"],._7yu>li[style="background-color: rgb(245, 246, 247);"],.fbCalendarOverlayHeader,._5l37:active,._5l37:hover,._1k1p,._2246,._21es,._47__::before,div.uiTypeaheadView li.calltoaction.selected,div.uiTypeaheadView li.calltoactionV2.selected,._6rbd._6rbc>._4vf0,._4jy2,._569t ._54ne ._54nc,._42fu:hover,._5vwy ._13xf,._5vwz ._13xf,._6ror,._64u9,._4u5w.selected,._4u5w:hover,._219m.selected,._219m:hover,.uiButton:hover:not(.fbPhotoSnowliftDropdownButton),._2i-c ._54ne ._54nh,._2i-c ._54ne ._54nc,._2i-c ._54ne,.albumPlaceTypeahead .PlacesTypeaheadView .selected,._5dw9 ._45hc:hover ._c1c,._5dwa ._45hc._1hqh ._c1c,._bjx,._1yw,._5hpx ._5hq2,._5hpw ._5hpx ._5hq1:hover,._5hpw ._5hpx ._5hq1:focus,.uiMenuItem a:active,.uiMenuItem a:focus,._42me:hover,.pop_content h2.dialog_title,div.uiTypeaheadView .selected,div.uiTypeaheadView .selected,div.uiTypeaheadView li.calltoaction,div.uiTypeaheadView li.browseUpsell,div.uiTypeaheadView li.calltoactionV2,._2-sm._xah,._6fv7,.uiMenuItem a:hover,.uiMenuItem a:active,.uiMenuItem a:focus,._4vf0[style="background-color:#6BCEBB;"],._2-sm._xag,._672g._4okn[style="background-color: rgb(66, 103, 178);"],._672g._1f47[style="background-color: rgb(66, 103, 178);"],._5-s9,._5m10 ._5z5s,._5m15 ._5z5s,._6ufo,._672g._67wa[style="background-color: rgb(66, 103, 178);"],._672g._6g9k[style="background-color: rgb(66, 103, 178);"],._25_a:hover,._25_c,._2jsf[style="background-color: rgb(178, 178, 178);"],._2jsf[style="background-color: rgb(74, 144, 226);"] {
    background-color:var(--secondary)!important
    }
    
    ._517h:hover {
    color:var(--white-text)!important;
    transition:1s;
    border-color:var(--hover)!important
    }
    
    ._517h:hover,._55ln:focus,._517h:active,li.selected ._55ln,._6egj._6egk,.uiButtonConfirm,._6rb7 {
    background-color:var(--secondary)!important
    }
    
    ._1vkw:hover,._5itl:hover,._5itl:focus,.__tw li.jewelItemNew,._1y2l li.jewelItemNew a.messagesContent,.jewelItemNew ._33e,._6egj,._5esl td._5esm:first-child,._3xem:hover,._3t3:hover,._guu,._6z- .uiSideNav .selectedItem>.item,._6z- .uiSideNav .selectedItem>.subitem,._6z- .uiSideNav .item:hover,._6z- .uiSideNav .subitem:hover,._3llb,._40mr:hover,._40ml,._40mk:hover,._66a_,._2lu6,.uiButton,.uiButtonSuppressed:active,.uiButtonSuppressed:focus,.uiButtonSuppressed:hover,._42fu,._42gx:focus,._42gx:hover,.UFIReplySocialSentenceRow:hover,._1sk6,._eos,.albumPlaceTypeahead .placeTypeaheadWithIcon .selected,._33_b,html ._2of1,._2elt,._2el_ ._2elt:hover,._67io::after,._5va0 ._44b2:hover,._41mp,._6ws,._d3b,._1ho1,._4p2a:hover,._5pw1,._5atu,._5td4,._1_cb,.mleMenu .categoryLabel._54ne ._54nc,.mleMenu .categoryLabel.categorySelected ._54nc,._c2q,.fbTimelineLogColumn ._6-3 .profileApprovalRow ._619n,._ymb,._1u6r:hover,._1u6r:focus,._3-uf,._3l4b ._3l4c[style="background-color:rgba(32,55,95,1.00);color:rgba(255,255,255,1.00)"],._57e6:hover,._20h0,._62tb ._4b7j._62td,._3u1w,._3u1y,._3uq3,._1_fg:hover,._14oh:hover,._14oi._14oh,._6idj,._6idd:hover,._4h_x:hover,._4h_y,._4k8w:hover,._4k8w._2tms,._6yv5:hover,._6yv5._2tms,._5id1,._oan,._5_vw:hover,._6idi ._6jip,._11m5,._6idi ._6jiq,._4dyr,._5hue>a:hover,._5-2t:hover,._31uc,._g_v,._hjc,._d-4,._d-b ._4li:hover,._d-b ._d-9:hover,._d-b ._4li:hover ._d-4,._1g-f,._5l06,._2le1:hover,._pu_:hover,._1tik,._18_m,._44b1:hover,._44b6:hover,.fbSettingsList a.fbSettingsListLink:hover,._3qku,._25_a:hover,._25_c,.uiSideNav .selectedItem .item,.uiSideNav .selectedItem .item:hover,.uiSideNav ul .selectedItem .subitem,.uiSideNav ul .selectedItem .subitem:hover,._2_ks:hover,._2jse ._-sl,._3-a6._65_9 .UFICommentActorAndBody,._5v3q ._3-a6._1blz ._2lhm ._1dwg {
    background-color:var(--newitem)!important
    }
    
    ._59_o,._eb3:before,._4jy1:hover,._4jy2:hover,.uiButtonConfirm:hover,._5nxu ._1-gu,._5ugg,._2-sm._xah:focus,._2-sm._xah:hover,._2-sm._xag:focus,._2-sm._xag:hover {
    background-color:var(--hover)!important
    }
    
    .fbTimelineStarGridSeparator h4,.fbTimelinePhotosScroller .async_saving,._3o_h::after,._2yaa ._2yau::after,._2p2g:hover,._5nxu ._1-gu:hover,._5k47,._57z1 {
    background:var(--secondary)!important
    }
    
    ._5r8l .uiScrollableArea.contentAfter:after,._3mts .uiScrollableArea.contentAfter:after {
    background-image:linear-gradient(rgba(255,255,255,0.153),#CC3F28)!important
    }
    
    .fbNub._50mz.highlightTab .fbNubButton,.fbNub._50mz .fbNubFlyoutTitlebar,._5nw8,._1-e0,._2yaq,body ._5nwo,._5nzo,._5u_6._5wcf,._5voi._5wcf,._5xmz._5wcf,._57y-,._1l1t {
    background:var(--primary)!important
    }
    
    .fbNub._50mz .fbNubButton:hover,.fbNub._50mz .fbNubFlyoutTitlebar:hover,.fbNub._50mz.highlightTitle .fbNubFlyoutTitlebar:hover {
    background-image:linear-gradient(#CC3F28,#CC3F28)!important;
    background:var(--secondary)!important
    }
    
    ._4kny ._585- {
    border-radius:40px!important;
    margin:0 auto!important;
    background:var(--primary)!important;
    max-width:240px!important
    }
    
    ._6_7,._6-6,._9ry:hover,._4m78,._5esl td._5esm:first-child,._5esl td._5esw,._3egg._3egg,._4f3b:hover,._4f3b:focus,._4p8x {
    background:var(--primary)!important
    }
    
    ._5k4a,.uiTokenizer,._1mib,._1mib ._4h2m {
    background:var(--newitem)!important
    }
    
    html ._9rw._54ne ._54nc,._1uwz,._25q1,._iw3 {
    background:var(--background)!important
    }
    
    ._5bl2 .highlightNode {
    background-color:rgba(255,88,88,0.15)!important
    }

    ._eos:after,._440e:after,._6rnb:before,._6rpq:before,._3es7:after,html .fbSettingsNavigation .divider,hr,._4ycm:after {
        background: var(--border) !important;
        color: var(--border) !important
    }
    
    ._33v0 {
    background-color:var(--border)!important
    }
    /* Text Color */
    ._59pe:focus,._1cwg,._59pe:hover,._sg1:not(:first-child),._4ks>li,._5j0e a,.groupJumpLayout #rightCol .uiHeaderSection a,.groupJumpLayout #rightCol .uiSideHeader a,.groupJumpLayout .uiHeaderSection a,.groupJumpLayout .uiSideHeader a,._mx9.verbose ._mxb,._2n67,._19s-,.fbReminders .fbRemindersStory .fbRemindersTitle,.__tw .jewelFooter a,._5c6j ._3smp,._2709,a._39g3,._58cn ._58cl,._60rh ._61ce ._60ri a,._364o ._1ore a,._3klb,._1pfv .fwb,._1pfv .profileLink,._1pfv>a,._1pfw,a._3-9a,._hik,.fbCalendarGrid .fbCalendarDayItem:hover .fbCalendarItemDayNumber,.fbCalendarGrid .fbCalendarGridToday .fbCalendarDayItem:hover .fbCalendarItemDayNumber,._4zq4 .metadataFragment .placeToken,._4zq4 .metadataFragment .withToken,._4zq4 .metadataFragment .askFriends,._4zq4 .metadataFragment .og_composer_object,._4zq4 .metadataFragment .productItemToken,._4zq4 .metadataFragment .sponsorTagToken,._4zq4 .metadataFragment .issuesTagToken,._4zq4 .metadataFragment .localAlertToken,._1-tr,._5wn5,._1u6r,._21ok,._40mo,._6m2:hover ._275z,._1ht3 ._1ht7,._3087,._fy2,._3quh,._3ion,._4bxr,._akq,._42nr ._1mto:hover a,._hj3,._2ava,span[style="color: #43a735;"],._3910,._3o26,._xdl,._sua,._6jis,._5m15._284c ._5hhj,._3qk-,._fqv ._5cul,._5591,._5y1e,._5y1i,._34pg[style="color: rgb(61, 106, 214);"],._25q1:hover,._3qz2 ._2eq6,._54_9 ._2eq6,._5qg7,.fbSettingsList .fbSettingsListItemSaved,.fbSettingsList .fbSettingsListItemEdit,.uiLinkButton input,.fbSettingsRemovablesRemove span,._y5_ {
    color:var(--secondary)!important
    }
    
    h1,h2,.UFISutroLikeCount,h3,h4,#contentArea ._4ikz,._5vsj._5vsj._5vsj,._2eu_ ._36zg,h5,h6,._1sdd:hover,._1sdd,._2n5-,._6ff7,._bui ._5afe,._5ugf,._2pi2._6ff6,._1sdi:hover,._1y2l .author,._4d3w._u77 ._3t09,._9jo li.navSubmenu a,._55ln,._5vb_ ._dcs .__c_,._5vb_ ._6l-,._1y2l a.messagesContent:hover .author,._1y2l a.messagesContent:hover .author span,._1y2l .subject,._4-lu,._60mc a,._558b ._54nc,._2fvv,._3-v_,.fbNub._50mz .titlebar .titlebarText,.fbNub._50mz.highlightTab .fbNubButton .name,.fbNub._50mz.highlightTab .fbNubButton,.fbNub._50mz.focusedTab .fbNubButton .name,._3sol,._1y2l a.messagesContent:hover .subject,._grm ._grr,._1pek,._5yk1 ._247o,._55lr,._1nc6 ._5w1r a,._3bii,._6xwh,._4ly5,._4jy2,._j1x,._2v-2,._2ih_,._611r,._3scn,._3-8x,._6vhz>span,._2zxb ._3-94,._2zx6>span,._3-8-._3qn7>span,._271k,._6ff7,._52g0,._3-9a>span,._hil,._hil a,._hil a:hover,.fbTimelineUnit,._2nlw,._2nl-,._2nlv .alternate_name,._1e57 a,._6m6 a,._599p,._599n ._599p,._599n ._599q,._m_1 ._2aha,._1xxa,._3leq,._3ohu:hover a,._39_n,._370r,._2ezy,._364g,._2jyf,._2sl4,._5j0e a,._3c_:hover ._3sz,._3s- ._3sz,._33hy ._554b:hover,._4o52:hover ._3sz,._3c- a,._5pwr:hover ._5pws,._47__ ._5pws,._59_o,a._39g6,._3ake,._2ye1,._2ye2,._5108 .addFriendText,._5108 .FollowLink,._569t ._54ne ._54nc,._6z- .uiSideNav .item,._6z- .uiSideNav .subitem,._5vwy a,._5vx7 ._45hd a,._5vwz a,._5vx7 ._45hd:hover a,._5vwz:hover a,._40ms,._1qst ._55pe,._6zz_,._1k_6,._6zzz,._33e,._1qhm ._iki .UFIRow,._2lu6,._64u9,._4wcr ._3c6f,._v5n,._73e-,._3v6c span._38my,._6590 ._5dwa ._38my,._u9q ._5dwa ._38my,._4nl3 ._5dwa ._38my,._5v3q .e_1cdltv8hec.h_1cdltv3x6z,._1s31.h_1cdltv3x6z .e_1cdltv8hec,._4u5w,._219m,._1e8k ._3sts,._42fu,._53d ._5glz,._dta,._dta a,._1ht6,._1ht7,._2jnv,._2jnx,._2jnz,._2jnx ._30e7 ._5j5f,._2i-c ._54nf ._54nh,._2c9i ._19jt,._1032,.uiTypeaheadView li,._3q34,._5dw9 ._45hc a,._5dw9 ._1hqh a,.__6m,._5hpx ._5hq1,.uiMenuItem .itemAnchor,select,.uiButtonText,.uiButton input,._b37,._b37:link,._b37:hover,._b37:active,._b37:visited,._4ovi,._4ovj,._2yez,._7lt ._7ln a,._7lt ._7lx .uiLinkSubtle,._7lt ._7lx ._50hf,._7lt .pageCityLink,._7lt ._7lx .pageByline,._7lt .fanCount,._1cir ._3_xs,._1cis ._3odd ._54nh,._3leq ._2kna,._2pi9._6shh>span,._5dwa ._38my._cdn,._2ild,._1uhl,._5po3,._3jjf ._55pe,._3qg8,._3u1y,._4wb4,._3upv,._5-sc,._48mf,._53ij ._4ii7,._iyo,._6lhl>span,._6mif>span,._284c ._4k8y,._1giw,._jqu,._5xd->a,._3-96,._37_q,._37_q._37_r,._5xvn,._xny,._6a._6b>div,._41kb,._45t7 ._45uk,._kdf,._33gp ._38my,._5dw9 ._38my,._1v6t ._1mie ._1mib ._4h2m,._2ztj._m_6._4i1f,._nd_ ._hh7 a,._5i_d .__6k,._5i_d .__6k,._57ex,._5xmz._5wcf,._1j9g,._2e9n,._4-xi,._5p3j,._3-95>span,._4s1v,._3-96>div,._27b4>span,._20nr>a,.linkWrap,._k7g,.fbSettingsList .fbSettingsListItemLabel,._685i {
    color:var(--primary-text)!important
    }
    
    label,._558b ._54ah,._4vhy,._1y2l a.messagesContent,.__tw,._225b,._4oes,._4c70,._3zsi,._3zsi a,._517h,._uyb,._5861 ._586f,._5861 ._586i,._55ls,.inputtext,._55oc,._3652,._5v3q ._5pcp._2jyu,._5v3q ._5pcp._2jyu a.uiLinkSubtle,._5v3q ._2jyu ._5ptz,._5v3q ._2jyu a._5pcq,._5v3q ._2jyu ._5pcq a,._54nc ._48u1,._2l56,._5861 ._1frb,._fyy,div._4tvz,a._39g5,._3qb_,div._c0o,a._1d9n,._16bh,._2ms2,._5qtn ._5qtp,._19bs,._5v3q ._14f3._5pbw._5pbw .fcg,._5v3q ._14f3._1qbu._5pbw .fcg,._4bo_,._c24,.fcb,.UFILikeLink,._5yxe,._5f9b,._460i,._1rg_,._j1y,._1m1x,._1pfy>a,._1pfx,._3sco,._45fk,._3-98,._6vhz>span:last-child,._50f9,html ._4lh ._1zw6,._3lcw,._3wkw,._5pco,._4fzb ._5pco,._4fzb ._5pco p,._599q,._4qg5>span,._1gcr,._3-94,._58al,._21m- ._327d,._60rh ._61ce ._60rj,._4288 a,.fbCalendarGridCellEmpty .fbCalendarDayItem .fbCalendarItemDayNumber,._44bj,._13db,._5pcp,._5pcq a,a._5pcq,._5pcp .fbPrivacyAudienceIndicator .audienceIcon,._58al::placeholder,._4g0h,._3xcx,._2p4n,._361t,._173e .fcg,.pts,._3084,._24k,._64f,._64f a,._4f3b,._5_6e,._569t ._54nc,._6sju,._50f8,._1cxa,._g3i span._38my,._6lh ._8yb,._6lh ._8yb a,._1skd,._yk1,._1htf,._3szq,._2v6o,._5eu7,._6krh,._3eus,._5uh,._374c,._1m-h,textarea,.inputpassword,.__6l,._5pwa,._5pw6,._ymb,._1-jb.fcg,._2yep,._2yep a,._1cis ._3_xt,._hik,._75e,._2fb2,._6shi>span,._2wmb,._62tb ._4b7j._62td,._3rgw,._3qgj,._3qg9 table th,._3qg9 table label,._1tik,._3uq5,._2-x8,._6idg,._4dyr,._5hue>a,._5kn3,._5eje,._kdk,._45t7,._45t7,._2v69,._3wba ._3wbo,._2jl1,._2mpu ._1v6t ._477n,._2mpu ._1v6t ._4yb4,._2n69,._6cs7,._2y8z,._5qg4,._5qfy,.fcg,._3y1k,._3-lo,._57yz {
    color:var(--secondary-text)!important
    }
    
    ._4qg4>div>div:last-child>span,._202._19bq:hover a {
    color:var(--hover)!important
    }
    
    a.weakReference {
    color:var(--disabled-text)!important
    }
    /* Border */
    ._2yq ._4-u2::before,._4ciy ._bui .sideNavItem,._558b ._54ak,._3x-2 ._5r69._1hvl,._4-i0,._3zsi,._4ks>li,._3ubp,._37wv,._16ve,._3-a6._1blz._5vsj .UFIRow.UFIAddComment._4204,._5lnf,.__tw .jewelFooter a,._4_dr._20h5,._37wu,._30og,._1y2l .jewelContent a.messagesContent,._2dck,.__tw div.jewelHeader,._3nzk .objectListItem,._3y6_,._2crf,._1og-,._5r8e,._1qf9 ._69yt,._5r86,._5pr2.fbChatSidebar,._3eqz ._3ekx,._a7s,._fgm ._1t6k+._37uu ._610i._a7s._20h6,._22jw._37uu ._610i._a7s._20h6,._s_6._37uu ._610i._a7s._20h6,.uiCollapsedList ._20h6._a7s._610i._a7s._610i,._33c,.__tw,._4xdg,._-0d,._u77 ._4xdg._3-a6._1blz .UFIRow._4204,._1shc,._3zsi,._1nme._4vhy,._3-a6._1blz ._fmi,._fmi,._5c6j ._3smp,._1brn>._4ewu,.uiBoxLightblue,._21m- ._3bhz,._21m- ._1ore,._2s60 ._357t,._364n ._grm,.uiBoxGray,._fyy,._sg1:not(:first-child),._2t8s,.uiTypeahead .wrap,._5vsj .UFIRow._4204,._3nzk .fbMoreRequestList,._4d3w._u77 .fbPhotosSnowboxFeedbackInput,html ._55r1,._3io8,._4ly9,._371r,.uiBoxWhite,._j1x,._6q9m,._2v-2,._4-u2>._4-u3,._3k4n,._4kt>li,._6vhx,._13av,._271k,._52g0,html ._6-d .fbTimelineSection,._4-u2,._46ye,div._9rv ._54ng,._569t ._54ak,._5va1,._2xbx,._4fzb,._5ge1,.uiContextualLayerBelowLeft ._z4i,._6hq6,._65nn,._611j,._6qqv,._dut,.groupJumpLayout #rightCol .uiHeaderSection,.groupJumpLayout #rightCol .uiSideHeader,.groupJumpLayout .uiHeaderSection,.fbCalendarGrid .fbCalendarDayItem,.groupJumpLayout .uiSideHeader,.fbCalendarGridRoot .fbCalendarBox,._1rg_,._3-a6._1blz ._pb2 ._2r3x ._3ekx,._5esl td._5esm:first-child,._50hx,._50hx:hover,._rzn,._5i_t,._2pgc,._1cbc,.uiContextualLayerAboveLeft ._z4i,._2w3>._30f,._53d9,._3t3,._3egg._3egg,._59_o,._59_m,._h71,._19_p:before,._6rbc,._kt,._6rcg,._440e:before,._6rbf,._1qp6 .fbProfileBrowserListContainer .fbProfileBrowserListItem,html ._262m ._698,._2w3>._30f,._517h,._4ms4,._4kt>li,._4ks>li,._5rsw,._3cz,._5mtz,._5mub,._3y89,._14b9 ._r95,._14b9 ._gx6,._3scu,._30d,._3-z,._30d ._3-z~._3-z,.uiHeaderTopAndBottomBorder,._5i-8,._kj3,._guu,._6z- .uiSideNav .selectedItem>.item,._6z- .uiSideNav .selectedItem>.subitem,._z6j,._5v3q ._5mxv,html ._4__g,._324i,._609t,._609-,._oie._4ehf._213j,._40mk,._40mt,._40mr:hover,._40mu,._15vu,._15vt,._66a_,._64p9,._1qhm ._iki,._36nj::before,._3-a6 ._3-f8,._4_dr._20h5,._3-a6 ._2rn3,._5v3q .e_1cdltv8hec,._1iup,._1iuo,._4u5w,._1_u4,._219m,._fgm._sa_._1sz4:empty::after,.uiMediaThumb,.uiPagerTopBorder,._42fu,._42gx:focus,._42gx:hover,.UFIReplyList .UFIRow,._1klk,._36ic,._1li-,._eos,._7r2,.__5y ._4p89,.__5y ._4p8a,.PlacesTypeaheadViewPopulated,.uiTypeaheadView li,._33_l,._5nlo,._55fl,._5ssz ._4jo-.addPhotosEnabled ._5h6w,._5ssz ._4jo-.addPhotosDisabled ._5h6u,._3sod,._2xh4,._2xh0 ._ohe,._4mq3 .fbNubButton,._585-,._4b0h,._2shb,._2shi,._2shf,._2elt,._2shd,._2el_ ._2elt:hover,._5r86,._41mp,._6wt,._6wq:hover,._1ho1,._1xk6,table._5esl,._5esl,._1xk6,._3an7,._2qsi,._iti,._5c6j ._3smp,._5hpq,._5c6g,._5pw9,._5pw9._5pwl,.uiButton,select,._4d3w._u77 .fbPhotosSnowboxFeedbackInput,.pop_content .dialog_content,.uiTypeahead,.pop_content .dialog_body,._58ak,textarea,.inputtext,.inputpassword,._5ciw .uiSideHeader,.uiInlineTokenizer,html ._5rz ._4psd,._5vg,._1_cb,html ._5k35 ._5k3a,._b2z,._4xbk ._40jq+._40jq,._1wc-,._1r7y[dir='ltr'] ._1wc- div+div,._5yzw,.mleMenu .categoryLabel,.uiMenuSeparator,.mleMenu .mleTypes,._c2q,._30d ._646,._40pu,._2o49,.fbTimelineLogColumn ._6-3 .profileApprovalRow ._619n,._ymb,._58wf,html ._4lh ._2-d1 li a,.uiSearchInput,._5bl2 .highlightNode,._131 #contentCurve,._6pe1,._3-v_,._3l4b ._3l4c,._672g,._1xnd ._4-u3 ._1td9 ._1td7 ._2kch,._5ybo,._6kf_,._57e6,._2l03,._qa1,._62tb ._4b7j._62td,#contentCurve,.fbPhotoTagger .faceboxSuggestion,.fbPhotoTagger .typeaheadBackdrop,.fbPhotoTagger .uiTypeaheadView,._5po3,._3u1w,._4nw1,._22zv,._1tik,._2tq5,._672g,._1h1[style="border-top: 1px solid #ebebeb"],._1g_,._6mki,._avo,._3xop,._cjr,._5zs0,._14oh:not(:last-child),._14oj,._4d4o,._juy,._2y0r,._48mg,._53ij ._4ii7,._53ij ._4iic,._6idj,._6idi,._83e,._3xcw,._6idc,._4k8w,._iyn,._33v0,._5_vw,._4375,._5n4j,._6idg,._165d,._2evq,._6idi ._6jip,._33v2,._33v4,._4dyr,._2v5c,._58do,._46cs,._5fez,table,._25q1,._5-2t,._31uc,._13ch,._5nw8,._553h ._333r,._53px,._1-e0,._2yaq,body ._5nwo,body ._5nwp,._5nzo,._5k49,._5hgv,._6pcw,._6pcw:last-child,._200d,._1mib,._4efs,._d-b ._4h2m,._67mg,._5ndr,._1v6t,._1v6t ._1mie ._3c7k,._4h2m,._1k4b,._6nx0,._5i_d,._55xm,._5wcf,.uiHeaderBottomBorder,._1w9c,._5k_u,._5lbp,._1qqu,._3u-1:before,._21x_ ._48p5,._21x_ ._2it3,.UFILivePinnedCommentLabel,._3za8,._3za8 ._5_tt,._672g,._5x_7,._p0k ._5hzs,._2e9n,._4-xi,._pu-,._18_m,._1tm3,.hasLeftCol #contentCol,.hasLeftCol #mainContainer,.uiSideNav .item,.uiSideNav .subitem,.fbSettingsListBorderTop,.fbSettingsListBorderBottom,._41kh,._3qku,._25_a,._27b3,._a7w,._39gk,._381d ._sxo,.fbSettingsSections .fbSettingsSectionsItem.fbSettingsSectionsItemBorderTop,._iw3,._680o._3y15,._2_ku,._57yz,._680k,._680l,._680u,._3oc7 ._3oc8,._2jse ._-sm,._2jse ._-sm,._45la,._2p08,._1uu3,._440e:before,._674v,._5v3q ._3-a6._1blz ._2lhm ._1dwg {
    border-color:var(--border)!important
    }
    
    .__6j._43kk {
    border-color:var(--background)!important
    }
    
    ._23b1,._23b2,.UFICommentReactionsBling ._3emk,._4d6h,._6lm {
    border-color:var(--primary)!important
    }
    
    ._1nme,._4-h8::after {
    border-bottom:8px solid var(--primary)!important
    }
    
    ._5pcm,._3m75 ._55yu>a,._3m75 .sideNavItem .uiSideNavEditButton a,._5pcm,._3m75 .selectedItem ._55yu>a,._3m75 .sideNavItem:hover ._55yu>a,._3m75 .selectedItem .uiSideNavEditButton a,._3m75 .sideNavItem:hover .uiSideNavEditButton a,._3m75 ._55yu>a,._26w9,._3o_h::before,._3m75 .sideNavItem .uiSideNavEditButton a,._3m75 ._55yu>a,._3m75 .sideNavItem .uiSideNavEditButton a,._585n,._6lxd:hover,._2zx6,._271k._3-99,._599n,.fbCalendarGrid .fbCalendarDayItem:hover,.fbCalendarGrid .fbCalendarGridToday .fbCalendarDayItem:hover,.fbCalendarGrid .fbCalendarGridCellEmpty .fbCalendarDayItem:hover,._4jy2,._569t ._54ne ._54nc,._u08,._42fu:hover,._70l,._33xh,._219m.selected,._219m:hover,.uiMediaThumb:hover,.uiMediaThumb:hover .uiMediaThumbWrap,.uiMediaThumb:active,.uiMediaThumb:active .uiMediaThumbWrap,.uiMediaThumb:focus,.uiMediaThumb:focus .uiMediaThumbWrap,._5wpt,._1nv5 ._11kf,._4nos,._3jjt:hover:after,._5hpx ._5hq2,.pop_content h2.dialog_title,html ._4lh ._2-d1 ._3rrn>a,._7lt ._7lw,._-6c ._-6h,._2sw8 ._3etu,._2sw8 ._3etw,._2sw8 ._3ett,._6idi ._6jio,._6jis,._6idi ._6jiq,._37_q._37_r,._31uc:hover,._3489,._6nxq,._ric,._4mnq,._ypo span,._3oc7 ._3oc8 {
    border-color:var(--secondary)!important
    }
    
    ._2x6q ._53im ._53io {
    border-left-color:var(--secondary)!important
    }
    
    .navHeader ._1pej::after,._3m75 .sideNavItem ._5afe::after,._59pe:focus,._3o_h::after,._2yaa ._2yau::after,._558b ._54ne ._54nc,._59pe:hover,._4jy1,div.uiTypeaheadView li.calltoaction.selected,._4jy2:hover,.uiButtonConfirm,._4u5w.selected,._4u5w:hover,.albumPlaceTypeahead .PlacesTypeaheadView .selected,._1yw,._5zeh ._2vw6:hover,._5hpw ._5hpx ._5hq1:hover,._5hpw ._5hpx ._5hq1:focus,.uiMenuItem a:active,.uiMenuItem a:focus,div.uiTypeaheadView .selected,div.uiTypeaheadView .selected,._2-sm._xah,.uiMenuItem a:hover,.uiMenuItem a:active,.uiMenuItem a:focus,._2-sm._xag {
    border-color:var(--hover)!important
    }
    
    ._-6b ._-6h,._2x6q ._53in ._53io {
    border-right-color:var(--secondary)!important
    }
    
    ._6_7,._6-6 {
    border-left:none!important;
    border-right:none!important
    }
    
    ._5tlx._5xzd {
    border:none!important
    }
    
    .uiMenuItem .itemAnchor,._5db1,._569t ._54nc,._bui ._5afe,._558b ._54nc {
    border-color:transparent!important
    }
    
    ._6-7,._6-6:hover {
    border-bottom:3px solid var(--hover)!important
    }
    
    ._-6d ._-6h,._2x6q ._53il ._53io,._cjo._cjn,._3m1v._468f._5f0v ._60om ._2ztj {
    border-bottom-color:var(--secondary)!important
    }
    
    .uiSearchInput span,._dut {
    border-top:transparent!important
    }
    
    ._-6e ._-6h,._2x6q ._53ik ._53io {
    border-top:9px solid var(--secondary)!important
    }
    
    ._cy7 {
    margin-top:5px!important
    }
    
    ._6ffg {
    border-top-width:0!important;
    margin:0!important
    }
    
    ._5vb_ ._5pr2.fbChatSidebar {
    border-left:0!important
    }
    
    ._5pr2.fbChatSidebar {
    width:46px!important;
    padding-top:30px!important;
    transition:width .5s!important
    }
    
    ._5pr2.fbChatSidebar:hover {
    width:205px!important;
    padding-top:0!important
    }
    
    #leftCol>._4wol>._lwx {
    overflow:hidden scroll!important;
    width:208px!important
    }
    
    #leftCol>._4wol>._lwx ._r_m {
    width:204px!important;
    padding-top:80px!important
    }
    
    ::-webkit-scrollbar {
    width:7px!important;
    border-radius:20px!important
    }
    
    ::-webkit-scrollbar-track {
    background:#3d3d3d1a!important
    }
    
    ::-webkit-scrollbar-thumb {
    border-radius:20px!important;
    border:1px solid #f9f9f938
    }
    
    #leftCol #pagelet_navigation,#leftCol>._lwx,#leftCol>._4wol>._lwx {
    position:fixed!important;
    top:0!important;
    bottom:0!important;
    height:unset!important;
    left:0!important
    }
    
    #leftCol #pagelet_navigation,#leftCol>._lwx {
    padding-top:80px!important;
    width:26px!important;
    white-space:nowrap!important;
    padding-left:4px!important;
    transition:width .5s!important;
    transition-delay:2s
    }
    
    ._5vb_.hasLeftCol #leftCol {
    width:140px!important
    }
    
    #pagelet_navigation {
    overflow:hidden!important
    }
    
    #leftCol #pagelet_navigation:hover {
    width:204px!important
    }
    
    #pagelet_navigation:hover {
    overflow:hidden scroll!important
    }
    
    html #fbProfileCover ._5ycb ._23fv {
    bottom:23px!important;
    left:21px!important
    }
    
    ._2pi0>._4ly7:first-child,._5pr2 ._55ob,._5nwp._5cmf._5nwq._5cmg>i,._5pr2 ._4oes,.homeSideNav .rfloat,._2t-f ._cy6:first-child ._4kny:nth-of-type(2),._2t-f ._cy6:last-child ._4kny:nth-of-type(1),.navHeader,.uiSideNavAux._55yu,#timeline_sticky_header_container,#pagelet_ego_pane,#createNav,#pagelet_games_rhc,#GroupsRHCSuggestionSection,#pagelet_ego_contextual_group,#homepage_panel_promote_footer_pagelet,._cy6._2s24:last-child::before,.f_1cdltv4ds_ ._4k9s ._525c,.f_1cdltv4ds_ ._4k9s ._525d,._6-6._6-7>._513x,.uiContextualLayerPositioner.uiLayer.uiContextualLayerPositionerFixed>.uiContextualLayer.uiContextualLayerAboveLeft,._2xuh>._2xui>i._2xuj:last-child,#pagelet_canvas_nav_content {
    display:none!important
    }
    
    ._5pr2.fbChatSidebar:hover ._55ob,._5h60 ._9c6,._5pr2.fbChatSidebar:hover ._4oes,#pagelet_navigation:hover .navHeader,#pagelet_navigation:hover .homeSideNav .rfloat,#pagelet_navigation:hover .uiSideNavAux._55yu {
    display:block!important
    }
    
    .openToggler>._5vto._5vto,.openToggler>._2gk7,.openToggler>._1qfa {
    background-color:var(--secondary)!important;
    border-color:var(--hover)!important;
    color:var(--primary-text)!important
    }
    
    ._a7s ._524d a:hover {
    filter:none!important
    }
    
    .UFILikeLink.UFILinkBright[style="color: rgb(242, 82, 104);"] {
    color:#f25268!important
    }
    
    .UFILikeLink.UFILinkBright[style="color: rgb(53, 120, 229);"] {
    color:#3578e5!important
    }
    
    .UFILikeLink.UFILinkBright[style="color: rgb(240, 186, 21);"] {
    color:#f0ba15!important
    }
    
    .UFILikeLink.UFILinkBright[style="color: rgb(247, 113, 75);"] {
    color:#f7714b!important
    }
    
    ._sg1 i,.uiSearchInput button,._2ph_._3-96 .uiSearchInput button,._59fb,._59fb:hover,#userNavigationLabel._5lxt,._3qb- i.img,._1d6i i.img,#reaction_units i.img._2q08,._2kw8,._2kw6,._661v,._661s,._6c0n ._1qfa i.img,._62lo ._62ln i.img,._3qb->img,._54nu ._392n i.img,._6z- .uiHeaderNav,._4jy0 i.img,._4r_y ._6d8m>img {
    filter:brightness(0) invert(1) opacity(0.5)!important
    }
    
    ._3186 ._5g_r:hover ._m_1 ._4a0a,._3186 ._m_1:hover ._4a0a,._2ph_._3-96 .uiSearchInput button:hover,._38my i.img,._15i7 .UFICommentEmojiIcon:hover,._15i7 .UFIPhotoAttachLinkWrapper:hover .UFICommentPhotoIcon,._15i7 .UFICommentGifButton:hover .UFICommentGifIcon,._15i7 .UFICommentStickerButton:hover .UFICommentStickerIcon,._5r8a._5r8b>i,._5r85 ._5r86>i,._2pi2._6ff6>._6ff7 i._6ng3,._cmw._1wbl ._4xev:hover,._cmw._1wbl.openToggler ._4xev,._54ni>._54nc ._4p23>i._2hp_,.fbPhotoCurationControlWrapper .fbPhotoCurationControl .fbTimelineSelectorButton i.img,._6a._43_1>._6a>a._1zg8:hover,._2n_p>._271k>._43rl>i._271o,._1wcv ._55fc,._2wpb._3v8w>i.img,._22zv ._4luh>i,._22zv ._4luh>img,._4d1r ._271k>._43rl>i,._22fx ._1q75 ._4nc- i,._22fx ._1q75 ._4nc- img,._4rv6._39bk {
    filter:brightness(0) invert(1)!important
    }
    
    ._4rv6._39bk {
    opacity:.6!important
    }
    
    ._3u43._p8r._6a._6b {
    width:100%!important
    }
    
    ._5g03,._41nt,._53ii ._53ij,.fbNubFlyout,._3xcw,._hjc {
    box-shadow:var(--box-shadow)!important
    }
    
    ._36bx ._3nc_._5zq9,a._39g9>i,._66a_>i,._2ec9>i._6adr,._2elu._2elv,._15i7 .UFICommentEmojiIcon.UFICommentEmojiIconActive,._fmi._613v.UFIPrivateCommentDarkTheme ._15i7 .UFICommentEmojiIcon.UFICommentEmojiIconActive.UFICommentEmojiIconActive,._15i7 .UFICommentGifButton .UFICommentGifIcon.UFICommentGifIconActive,._fmi._613v.UFIPrivateCommentDarkTheme ._15i7 .UFICommentGifButton .UFICommentGifIcon.UFICommentGifIconActive.UFICommentGifIconActive,._15i7 .UFICommentStickerButton .UFICommentStickerIcon.UFICommentStickerIconActive,._fmi._613v.UFIPrivateCommentDarkTheme ._15i7 .UFICommentStickerButton .UFICommentStickerIcon.UFICommentStickerIconActive.UFICommentStickerIconActive,._1pek ._1se_,._1pek ._1sex:hover ._1se_,._1pek ._1sfg ._1se_,._1pek ._1sex:hover._1sfg ._1se_,._67io::after,._70k>._6_7>li i,._3sct,._5vsj .UFIReplyList .UFIPagerIcon,.uiCloseButtonSmall,._5w84 ._5w9e,._1ogz ._1e8n.recent,._1ogz ._1e8n.smileys,._1ogz ._1e8n.animals,._1ogz ._1e8n.food,._1ogz ._1e8n.activities,._1ogz ._1e8n.travel,._1ogz ._1e8n.objects,._1ogz ._1e8n.symbols,._1ogz ._1e8n.flags,._5w81 ._5w9e,._1vkw ._o3r>i,#page_goal_card_channel ._57ei i,._3rte._2sw8 ._3ett>i,._2y_h ._2pib i,#pageFooter i,.fwn.fcg>.fcg>i,._4-u2 ._3upw>._3uq1>._3uq3>i,._5zwy>._5aj7 ._45_d>i,._su9,._6idi ._6w26 ._6ph7>i,._6ie2._6jio ._6ph7>i ._24tx ._4bl9 ._4ugl ._za4,._fqv>div>._58do>div>a>i._32y4,._5cul ._5cuo,._3oq0._tce>._kcu>i,._200d._d-4._d-9>div>._ohf>i,._54_9._5y6x ._2eq6:before,._6nxj._32rk._32rh._32ri>i,._231w._231z._4yef>i,._30yy._2fug,._30yy._2oc8,._3-96._3-8t>a>._554b>i,i.UFILivePinnedCommentGlyph,._54ni._9rw ._54nh>i._1gg7,._2xuh>._2xui>i._2xuj,#contentArea img._8o._8s.img {
    filter:grayscale(100%) brightness(70%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(1.0)!important
    }
    
    ._53il ._558b+._53io,._53ii ._53il>._53io,._53ii ._53im>._53io,._1r_9 ._53ik ._53io,._dus::after,._xtv>i,.__tw .beeperNub,._53ik ._558b+._53io,._3s_,._53ip ._53il ._53io,._53ii ._53ik>._53io,._g_v>._5cmf._g_w._5cmg>i {
    filter:invert(29%) grayscale(100%) brightness(59%) contrast(4)!important
    }
    
    ._ttp::after {
    filter:grayscale(100%) brightness(90%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(2)!important
    }
    
    ._54ni._54ne>._54nc ._4p23>i._2ezw {
    filter:unset!important
    }
    
    ._6-v- {
    background-image:linear-gradient(to bottom right,#e53535,#ec5454)!important
    }
    

    /* Login Page */
    .UIPage_LoggedOut {
    padding-top:100px!important
    }
    
    .menu_login_container .inputtext,.menu_login_container .inputpassword {
    width:202px!important
    }
    
    .login_form_label_field {
    width:105px!important;
    left:25px!important
    }
    
    .UIPage_LoggedOut ._4-u5,.UIPage_LoggedOut ._53jh {
    background:transparent!important;
    border:none!important
    }
    
    .UIPage_LoggedOut #pageFooter,.fbIndex #globalContainer,.UIPage_LoggedOut .loggedout_menubar ._ohe i {
    display:none!important
    }
    
    .UIPage_LoggedOut #identify_yourself_flow .uiBoxWhite,.UIPage_LoggedOut #identify_yourself_flow .uiBoxGray {
    background:transparent!important;
    border:none!important;
    width:240px!important
    }
    
    .UIPage_LoggedOut #identify_yourself_flow .uiBoxWhite {
    position:relative!important
    }
    
    .UIPage_LoggedOut #identify_yourself_flow .uiBoxGray ._ohf {
    position:absolute!important;
    right:20px!important;
    top:66px!important
    }
    
    [aria-label]:after {
    color:var(--primary-text)!important
    }
    
    .UIPage_LoggedOut #identify_yourself_flow .identify_yourself_block tr:nth-child(2) td:nth-child(2) #identify_email {
    width:148px!important;
    height:20px!important;
    background:var(--primary-text)fffad!important;
    border:none!important;
    color:var(--primary-text)!important;
    border-radius:4px!important
    }
    
    .UIPage_LoggedOut #identify_yourself_flow .uiBoxWhite .uiHeaderTitle {
    color:var(--primary-text)!important;
    font-size:0!important;
    text-align:center!important
    }
    
    .UIPage_LoggedOut #identify_yourself_flow .uiBoxWhite .uiHeaderTitle::after {
    content:"Tìm tài khoản"!important;
    font-size:16px!important
    }
    
    .UIPage_LoggedOut #identify_yourself_flow .uiBoxGray ._ohf a {
    display:none!important
    }
    
    .help_identify .identify_yourself_block {
    margin-left:0!important;
    margin-right:0!important
    }
    
    .UIPage_LoggedOut .identify_yourself_block tr:first-child td:nth-child(2)>div {
    font-size:0!important
    }
    
    .UIPage_LoggedOut #identify_yourself_flow .uiInterstitialContent {
    margin-bottom:0!important
    }
    
    .UIPage_LoggedOut .identify_yourself_block table {
    border-spacing:0!important
    }
    
    .fbIndex ._ohe,.fbIndex ._ohf {
    float:none!important
    }
    
    .fbIndex .loggedout_menubar,.fbIndex .loggedout_menubar ._ohe {
    display:grid!important;
    justify-content:center!important;
    margin-bottom:20px!important
    }
    
    .fbIndex .loggedout_menubar {
    margin:0 auto!important
    }
    
    .UIPage_LoggedOut .loggedout_menubar ._ohe a {
    background:url(https://i.ytimg.com/vi/pUKhylRHwCg/maxresdefault.jpg)!important;
    background-size:cover!important;
    background-repeat:no-repeat!important;
    background-position:center!important;
    display:block!important;
    width:100px!important;
    height:100px!important;
    border-radius:100px!important;
    margin:10px auto!important
    }
    
    .UIPage_LoggedOut .loggedout_menubar ._ohe h1::after {
    content:"J2Team Community"!important;
    color:var(--primary-text)!important;
    font-size:20px!important;
    margin-left:-10px!important
    }
    
    .registration #reg_form_box .inputtext._58mg,.fbIndex .loggedout_menubar ._ohf input[type="email"],.fbIndex .loggedout_menubar ._ohf input[type="password"] {
    height:20px!important;
    background:#dedede73!important;
    border:none!important;
    color:var(--primary-text)!important;
    border-radius:4px!important
    }
    
    .UIPage_LoggedOut #identify_yourself_flow .uiBoxGray ._ohf .uiButtonConfirm,.fbIndex .loggedout_menubar ._ohf .uiButtonConfirm {
    height:25px!important;
    background:#dedede73!important;
    border:none!important;
    border-radius:30px!important;
    width:17px!important
    }
    
    .UIPage_LoggedOut #identify_yourself_flow .uiBoxGray ._ohf .uiButtonConfirm:hover,.fbIndex .loggedout_menubar ._ohf .uiButtonConfirm:hover {
    background:var(--primary-text)!important
    }
    
    .fbIndex .loggedout_menubar .login_form_label_field a {
    color:var(--primary-text)!important
    }
    
    .fbIndex .loggedout_menubar ._ohf {
    margin-left:-35px!important
    }
    
    .fbIndex .loggedout_menubar ._ohf table {
    position:relative!important
    }
    
    .fbIndex .loggedout_menubar ._ohf table tr {
    position:absolute!important;
    width:200px!important
    }
    
    .fbIndex .loggedout_menubar ._ohf table tr:nth-child(3) {
    position:absolute!important;
    width:110px!important;
    top:100px!important;
    left:25px!important
    }
    
    .fbIndex .loggedout_menubar ._ohf table td {
    position:absolute!important
    }
    
    .fbIndex .loggedout_menubar ._ohf table td:nth-child(2) {
    top:60px!important
    }
    
    .fbIndex .loggedout_menubar ._ohf table td:nth-child(3) {
    top:118px!important
    }
    
    .fbIndex .loggedout_menubar ._ohf table tr:nth-child(2) td {
    top:20px!important
    }
    
    .fbIndex .loggedout_menubar ._ohf table tr:nth-child(2) td:nth-child(2) {
    top:80px!important
    }
    
    .fbIndex .loggedout_menubar ._ohf table tr:nth-child(2) td:nth-child(3) {
    top:120px!important;
    left:85px!important
    }
    
    .fbIndex .loggedout_menubar ._ohf table tr:nth-child(2) td:nth-child(3) input {
    font-size:0!important
    }
    
    .UIPage_LoggedOut #identify_yourself_flow .uiBoxGray ._ohf .uiButtonConfirm input {
    font-size:0!important
    }
    
    .UIPage_LoggedOut #identify_yourself_flow .uiBoxWhite ._ohf .uiButtonConfirm::after,.fbIndex .loggedout_menubar ._ohf table tr:nth-child(2) td:nth-child(3) label::after {
    content:">"!important;
    font-size:20px!important;
    color:var(--primary-text)fff78!important;
    line-height:26px!important
    }
    
    .fbIndex .loggedout_menubar ._ohf table td.html7magic label {
    font-size:0!important;
    position:relative!important
    }
    
    .fbIndex .loggedout_menubar ._ohf table td.html7magic label:after {
    content:"Tài khoản"!important;
    font-size:14px!important;
    position:absolute!important;
    left:72px!important;
    width:100px!important
    }
    
    .fbIndex .loggedout_menubar ._ohf table td.html7magic:nth-child(2) label:after {
    content:"Mật khẩu"!important
    }
    
    #u_0_5 .loggedout_menubar_container ._ohf,#u_0_6 .loggedout_menubar_container ._ohf {
    display:none!important
    }
    
    #u_0_2 .loggedout_menubar_container ._ohe,#u_0_5 .loggedout_menubar_container ._ohe,#u_0_6 .loggedout_menubar_container ._ohe {
    float:none!important;
    width:980px!important;
    text-align:center!important
    }
    
    #u_0_6 .uiBoxWhite .interstitialHeader {
    border:none!important
    }
    
    #u_0_6 .uiInterstitialContent .uiBoxRed {
    position:absolute!important;
    top:110px!important;
    background-color:var(--secondary)82!important;
    border:none!important;
    border-radius:5px!important;
    color:var(--primary-text)!important
    }
    
    #u_0_6 .uiInterstitialContent .uiBoxRed .fcb {
    color:var(--primary-text)!important;
    padding-bottom:5px!important
    }
    
    #u_0_2 .uiBoxWhite,#u_0_5 .uiBoxWhite {
    background:var(--primary)!important
    }
    
    .mvl {
    margin-top:100px!important
    }
    
    ._21-d._30vn {
    background-image:transparent!important
    }
    
    #u_0_2 .uiBoxGray,#u_0_5 .uiBoxGray {
    background:transparent!important
    }
    
    #u_0_5 .uiContextualLayerParent ._52jv {
    color:var(--primary-text)!important
    }
    
    #u_0_2 .uiBoxWhite ._3sts,#u_0_5 .uiBoxWhite .mvm .fcg {
    color:#444!important
    }
    
    #u_0_2 ._42g-,.login_page ._4jy1.selected,.registration #reg_form_box #u_0_12,.registration #u_0_c .loggedout_menubar .uiButtonConfirm,#u_0_5 ._4jy1 {
    background-color:var(--secondary)!important;
    border-color:var(--secondary)!important;
    background:var(--secondary)!important
    }
    
    #u_0_2 ._42g-:hover,.registration #reg_form_box #u_0_12:hover,.login_page ._4jy1.selected:hover,.registration #u_0_c .loggedout_menubar .uiButtonConfirm:hover,#u_0_5 ._4jy1:hover {
    background-color:var(--hover)!important;
    border-color:var(--hover)!important;
    background:var(--hover)!important
    }
    
    #u_0_5 .uiBoxGray .pts a {
    color:var(--secondary)!important
    }
    
    #u_0_5 .uiBoxGray .pts a:hover {
    color:var(--hover)!important
    }
    
    .login_page .uiContextualLayerParent ._4-u8 {
    background:transparent!important;
    border:none!important
    }
    
    .login_page .signup_bar_container {
    display:none!important
    }
    
    .login_page #header_block ._50f6,.login_page #header_block .fcg,.login_page #login_link ._xkv a {
    color:var(--primary-text)!important
    }
    
    .registration #reg_form_box #birthday-help,.registration #reg_form_box ._58mv a,.login_page #header_block .fcg a {
    color:var(--secondary)!important
    }
    
    .login_page .login_form_container ._55r1 {
    background:var(--primary-text)fffe0!important;
    border:none!important;
    color:var(--secondary-text)!important;
    border-radius:4px!important
    }
    
    .registration {
    padding-top:20px!important
    }
    
    .registration #u_0_c .loggedout_menubar {
    position:relative
    }
    
    .registration #u_0_c .loggedout_menubar ._ohf {
    top:90px!important;
    position:absolute!important;
    right:0!important
    }
    
    .registration #u_0_c ._4tjo {
    background:transparent!important
    }
    
    .registration .loggedout_menubar_container {
    height:130px!important
    }
    
    .registration .uiContextualLayerParent ._52lp .fcb,.registration #reg_form_box #u_0_x ._2_68,.registration #reg_form_box #u_0_z ._58mt,.registration #reg_form_box ._58mv,.registration .uiContextualLayerParent ._52lp .fcg {
    color:var(--primary-text)!important
    }
    
    .registration #reg_form_box .inputtext._58mg {
    color:#000
    }


    /* Chat Animation */
    ._6ng3[style="background-color: rgb(255, 92, 161); display: inline-block; border-radius: 50%;"],
    ._5dr4[style="background-color: rgb(236, 126, 189);"],
    ._1aa6[style="background-color: rgb(255, 92, 161);"] {
        background: -webkit-linear-gradient(-45deg, #1a2a6c, #b21f1f, #F27121, #ff0080) !important;
        background: linear-gradient(-45deg, #1a2a6c, #b21f1f, #F27121, #ff0080) !important;
        background-size: 400% 400% !important;
        -webkit-animation: Gradient 15s ease infinite !important;
        -moz-animation: Gradient 15s ease infinite !important;
        animation: Gradient 15s ease infinite !important
    }


    ._6ng3[style="background-color: rgb(166, 149, 199); display: inline-block; border-radius: 50%;"],
    ._5dr4[style="background-color: rgb(175, 156, 218);"],._1aa6[style="background-color: rgb(166, 149, 199);"] {
    background:linear-gradient(-45deg,#EE7752,#E73C7E,#23A6D5,#23D5AB)!important;
    background-size:400% 400%!important;
    -webkit-animation:Gradient 15s ease infinite!important;
    -moz-animation:Gradient 15s ease infinite!important;
    animation:Gradient 15s ease infinite!important
    }
    
    ._1nc7 ._5w1r {
    background:-webkit-linear-gradient(to right,#283048,#546e77)!important;
    background:linear-gradient(to right,#283048,#4d6974)!important;
    background-size:400% 400%!important;
    -webkit-animation:Gradient 15s ease infinite!important;
    -moz-animation:Gradient 15s ease infinite!important;
    animation:Gradient 15s ease infinite!important
    }
    
    @-webkit-keyframes Gradient {
    0% {
    background-position:0 50%
    }
    
    50% {
    background-position:100% 50%
    }
    
    100% {
    background-position:0 50%
    }
    }
    
    @-moz-keyframes Gradient {
    0% {
    background-position:0 50%
    }
    
    50% {
    background-position:100% 50%
    }
    
    100% {
    background-position:0 50%
    }
    }
    
    @keyframes Gradient {
    0% {
    background-position:0 50%
    }
    
    50% {
    background-position:100% 50%
    }
    
    100% {
    background-position:0 50%
    }
    }